<%- include('templates/_header') %>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Page Preload -->
				
	<%- include('templates/_navbar') %>
	
	<main>

		<div class="hero_single inner_pages background-image" data-background="url(/site/img/hero_general.jpg)">
			<div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-9 col-lg-10 col-md-8">
							<h1>About Us</h1>
							<p>Cooking delicious food since 2005</p>
						</div>
					</div>
					<!-- /row -->
				</div>
			</div>
			<div class="frame white"></div>
		</div>
		<!-- /hero_single -->

	    <div class="pattern_2">
		    <div class="container margin_120_100 home_intro">
		        <div class="row justify-content-center text-center">
		            <div class="col-lg-7" data-cue="slideInUp" data-delay="500">
		                <div class="main_title center">
		                    <span><em></em></span>
		                    <h2>Our Story</h2>
		                    <p>Cum doctus civibus efficiantur in ex paulo elaboraret.</p>
		                </div>
		                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit.</p>
		                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		                <p><img src="/site/img/signature.png" width="140" height="50" alt="" class="mt-3"></p>
		            </div>
		        </div>
		        <!--/row -->
		    </div>
		    <!--/container -->
		</div>
		<!--/pattern_2 -->

		<div class="bg_gray">
		    <div class="container margin_120_100">
		        <div class="row flex-lg-row-reverse"> 
                    <div class="col-lg-5 offset-lg-1 align-self-center mb-4 mb-md-0">
                        <div class="intro_txt" data-cue="slideInUp" data-delay="500">
                            <div class="main_title">
                                <span><em></em></span>
                                <h2>Why Choose Foore</h2>
                            </div>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed imperdiet libero id nisi euismod, sed porta est consectetur deserunt.</p>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p><a href="reservations.html" class="btn_1 mt-2">Reserve a table</a></p>
                        </div>
                    </div>
                     <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box_how" data-cue="slideInUp">
                                    <figure><img src="/site/img/lazy-placeholder-100-100-white.png" data-src="/site/img/how_1.svg" alt="" width="100" height="110" class="lazy"></figure>
                                    <h3>For Every Taste</h3>
                                    <p>Faucibus ante, in porttitor tellus blandit et. Phasellus tincidunt metus lectus sollicitudin.</p>
                                </div>
                                <div class="box_how" data-cue="slideInUp">
                                    <figure><img src="/site/img/lazy-placeholder-100-100-white.png" data-src="/site/img/how_2.svg" alt="" width="100" height="110" class="lazy"></figure>
                                    <h3>Fresh Ingredients</h3>
                                    <p>Maecenas pulvinar, risus in facilisis dignissim, quam nisi hendrerit nulla, id vestibulum.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                                <div class="box_how" data-cue="slideInUp">
                                    <figure><img src="/site/img/lazy-placeholder-100-100-white.png" data-src="/site/img/how_3.svg" alt="" width="100" height="110" class="lazy"></figure>
                                    <h3>Experienced Chefs</h3>
                                    <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
		    <!--/container -->
		</div>
		<!--/pattern_2 -->

		<div class="call_section testimonials lazy" data-bg="url(/site/img/bg_call_section_2.jpg)">
		    <div class="container">
		        <div class="row justify-content-center">
		            <div class="col-lg-8">
		                <h3>What Our Clients Says</h3>
		                <div class="carousel_testimonials owl-carousel owl-theme">
		                    <div>
		                        <div class="box_overlay">
		                            <div class="pic">
		                                <figure><img src="/site/img/testimonial_1.jpg" alt="" class="img-circle">
		                                </figure>
		                                <h4>Roberta<small>12 Oct</small></h4>
		                            </div>
		                            <div class="comment">
		                                "Mea ad postea meliore fuisset. Timeam repudiare id eum, ex paulo dictas elaboraret sed, mel cu unum nostrud."
		                            </div>
		                        </div>
		                        <!-- End box_overlay -->
		                    </div>
		                    <div>
		                        <div class="box_overlay">
		                            <div class="pic">
		                                <figure><img src="/site/img/testimonial_1.jpg" alt="" class="img-circle">
		                                </figure>
		                                <h4>Roberta<small>2 Nov</small></h4>
		                            </div>
		                            <div class="comment">
		                                "No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
		                            </div>
		                        </div>
		                        <!-- End box_overlay -->
		                    </div>
		                    <div>
		                        <div class="box_overlay">
		                            <div class="pic">
		                                <figure><img src="/site/img/testimonial_1.jpg" alt="" class="img-circle">
		                                </figure>
		                                <h4>Roberta<small>3 Dec</small></h4>
		                            </div>
		                            <div class="comment">
		                                "No nam indoctum accommodare, vix ei discere civibus philosophia. Vis ea dicant diceret ocurreret."
		                            </div>
		                        </div>
		                        <!-- End box_overlay -->
		                    </div>
		                </div>
		                <!-- End carousel_testimonials -->
		            </div>
		        </div>
		    </div>
		</div>
		<!--/call_section-->

		<div class="pattern_2">
		    <div class="container margin_120_100">
		        <div class="main_title center mb-5">
		            <span><em></em></span>
		            <h2>Our Chefs and staff</h2>
		        </div>
		        <div id="staff" class="owl-carousel owl-theme">
		            <div class="item">
		                <a href="#0">
		                    <div class="title">
		                        <h4>Julia Holmes<em>Chef</em></h4>
		                    </div><img src="/site/img/staff/staff_1.jpg" alt="" width="350" height="500">
		                </a>
		            </div>
		            <div class="item">
		                <a href="#0">
		                    <div class="title">
		                        <h4>Lucas Smith<em>Chef</em></h4>
		                    </div><img src="/site/img/staff/staff_2.jpg" alt="" width="350" height="500">
		                </a>
		            </div>
		            <div class="item">
		                <a href="#0">
		                    <div class="title">
		                        <h4>Paul Stephens<em>Chef</em></h4>
		                    </div><img src="/site/img/staff/staff_3.jpg" alt="" width="350" height="500">
		                </a>
		            </div>
		            <div class="item">
		                <a href="#0">
		                    <div class="title">
		                        <h4>Pablo Himenez<em>Chef</em></h4>
		                    </div><img src="/site/img/staff/staff_4.jpg" alt="" width="350" height="500">
		                </a>
		            </div>
		            <div class="item">
		                <a href="#0">
		                    <div class="title">
		                        <h4>Andrew Stuttgart<em>Chef</em></h4>
		                    </div><img src="/site/img/staff/staff_5.jpg" alt="" width="350" height="500">
		                </a>
		            </div>
		        </div>
		        <!-- /carousel -->
		    </div>
		    <!--/container-->
		</div>
		<!--/pattern_2 -->
		
	</main>
	<!-- /main -->

	<%- include('templates/_footer') %>

	<div id="toTop"></div><!-- Back to top button -->
		
	<%- include('templates/_script') %>

</body>
</html>