<%- include('templates/_header') %>

<body>

	<div id="preloader">
		<div data-loader="circle-side"></div>
	</div><!-- /Page Preload -->
				
	<%- include('templates/_navbar') %>

	
	<main>
		<div class="hero_single inner_pages background-image" data-background="url(/site/img/hero_menu.jpg)">
			<div class="opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.6)">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-xl-9 col-lg-10 col-md-8">
							<h1>Our Shop</h1>
							<p>Order food with home delivery or take away</p>
						</div>
					</div>
					<!-- /row -->
				</div>
			</div>
			<div class="frame white"></div>
		</div>
		<!-- /hero_single -->

		<div class="filters_full clearfix">
		    <div class="container">
		    	<div class="count_results">Showing 1–6 Of 12 Results</div>
		    	<a href="#0" class="open_filters btn_filters"><i class="icon_adjust-vert"></i></a>
		        <div class="sort_select">
		            <select name="sort" id="sort">
		                <option value="popularity" selected="selected">Sort by Popularity</option>
		                <option value="rating">Sort by Average rating</option>
		                <option value="date">Sort by newness</option>
		                <option value="price">Sort by Price: low to high</option>
		                <option value="price-desc">Sort by Price: high to low</option>
		            </select>
		        </div>
		    </div>
		</div>
		<!-- /filters_full -->

		<div class="container margin_60_40">

			<div class="row">
	            <aside class="col-lg-3" id="sidebar_fixed">
	                <div class="filter_col">
	                    <div class="inner_bt"><a href="#" class="open_filters"><i class="icon_close"></i></a></div>
	                    <div class="filter_type version_2">
	                        <h4><a href="#filter_1" data-bs-toggle="collapse" class="opened">Categories</a></h4>
	                        <div class="collapse show" id="filter_1">
	                            <ul>
		                        <li>
		                            <label class="container_check">Pizza - Italian <small>12</small>
		                                <input type="checkbox">
		                                <span class="checkmark"></span>
		                            </label>
		                        </li>
		                        <li>
		                            <label class="container_check">Japanese - Sushi <small>24</small>
		                                <input type="checkbox">
		                                <span class="checkmark"></span>
		                            </label>
		                        </li>
		                        <li>
		                            <label class="container_check">Burghers <small>23</small>
		                                <input type="checkbox">
		                                <span class="checkmark"></span>
		                            </label>
		                        </li>
		                        <li>
		                            <label class="container_check">Vegetarian <small>11</small>
		                                <input type="checkbox">
		                                <span class="checkmark"></span>
		                            </label>
		                        </li>
		                    </ul>
	                        </div>
	                        <!-- /filter_type -->
	                    </div>
	                    <!-- /filter_type -->
	                    <div class="filter_type version_2">
	                        <h4><a href="#filter_2" data-bs-toggle="collapse" class="opened">Rating</a></h4>
	                        <div class="collapse show" id="filter_2">
	                             <ul>
		                        <li>
		                            <label class="container_check">Superb 9+ <small>06</small>
		                                <input type="checkbox">
		                                <span class="checkmark"></span>
		                            </label>
		                        </li>
		                        <li>
		                            <label class="container_check">Very Good 8+ <small>12</small>
		                                <input type="checkbox">
		                                <span class="checkmark"></span>
		                            </label>
		                        </li>
		                        <li>
		                            <label class="container_check">Good 7+ <small>17</small>
		                                <input type="checkbox">
		                                <span class="checkmark"></span>
		                            </label>
		                        </li>
		                        <li>
		                            <label class="container_check">Pleasant 6+ <small>43</small>
		                                <input type="checkbox">
		                                <span class="checkmark"></span>
		                            </label>
		                        </li>
		                    </ul>
	                        </div>
	                    </div>
	                    <!-- /filter_type -->
	                    <div class="filter_type version_2">
	                        <h4><a href="#filter_4" data-bs-toggle="collapse" class="closed">Price</a></h4>
	                        <div class="collapse" id="filter_4">
	                            <ul>
	                                <li>
	                                    <label class="container_check">$0 — $50<small>11</small>
	                                        <input type="checkbox">
	                                        <span class="checkmark"></span>
	                                    </label>
	                                </li>
	                                <li>
	                                    <label class="container_check">$50 — $100<small>08</small>
	                                        <input type="checkbox">
	                                        <span class="checkmark"></span>
	                                    </label>
	                                </li>
	                                <li>
	                                    <label class="container_check">$100 — $150<small>05</small>
	                                        <input type="checkbox">
	                                        <span class="checkmark"></span>
	                                    </label>
	                                </li>
	                                <li>
	                                    <label class="container_check">$150 — $200<small>18</small>
	                                        <input type="checkbox">
	                                        <span class="checkmark"></span>
	                                    </label>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <!-- /filter_type -->
	                    <div class="buttons">
	                        <a href="#0" class="btn_1">Filter</a> <a href="#0" class="btn_1 gray">Reset</a>
	                    </div>
	                </div>
	            </aside>
	            <!-- /col -->
	            <div class="col-lg-9">
	                <div class="row row_item" data-cue="slideInUp">
	                    <div class="col-sm-4">
	                        <figure>
	                            <span class="ribbon off">-30%</span>
	                            <a href="shop-single.html">
	                                <img class="img-fluid lazy" src="/site/img/menu_items/menu_items_placeholder.png" data-src="/site/img/menu_items/1.jpg" alt="">
	                            </a>
	                        </figure>
	                    </div>
	                    <div class="col-sm-8">
	                    	<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
	                        <a href="shop-single.html">
	                            <h3>Soft shell crab</h3>
	                        </a>
	                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
	                        <div class="price_box">
	                            <span class="new_price">$48.00</span>
	                            <span class="old_price">$60.00</span>
	                        </div>
	                        <ul>
	                            <li><a href="#0" class="btn_1">Add to cart</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <!-- /row_item -->
	                <div class="row row_item" data-cue="slideInUp">
	                    <div class="col-sm-4">
	                        <figure>
	                            <span class="ribbon off">-30%</span>
	                            <a href="shop-single.html">
	                                <img class="img-fluid lazy" src="/site/img/menu_items/menu_items_placeholder.png" data-src="/site/img/menu_items/2.jpg" alt="">
	                            </a>
	                        </figure>
	                    </div>
	                    <div class="col-sm-8">
	                    	<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
	                        <a href="shop-single.html">
	                            <h3>Avocado & Mango Salsa</h3>
	                        </a>
	                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
	                        <div class="price_box">
	                            <span class="new_price">$48.00</span>
	                            <span class="old_price">$60.00</span>
	                        </div>
	                        <ul>
	                            <li><a href="#0" class="btn_1">Add to cart</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <!-- /row_item -->
	                <div class="row row_item" data-cue="slideInUp">
	                    <div class="col-sm-4">
	                        <figure>
	                            <span class="ribbon off">-30%</span>
	                            <a href="shop-single.html">
	                                <img class="img-fluid lazy" src="/site/img/menu_items/menu_items_placeholder.png" data-src="/site/img/menu_items/3.jpg" alt="">
	                            </a>
	                        </figure>
	                    </div>
	                    <div class="col-sm-8">
	                    	<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
	                        <a href="shop-single.html">
	                            <h3>Braised Pork Chops</h3>
	                        </a>
	                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
	                        <div class="price_box">
	                            <span class="new_price">$48.00</span>
	                            <span class="old_price">$60.00</span>
	                        </div>
	                        <ul>
	                            <li><a href="#0" class="btn_1">Add to cart</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <!-- /row_item -->
	                <div class="row row_item" data-cue="slideInUp">
	                    <div class="col-sm-4">
	                        <figure>
	                            <span class="ribbon off">-30%</span>
	                            <a href="shop-single.html">
	                                <img class="img-fluid lazy" src="/site/img/menu_items/menu_items_placeholder.png" data-src="/site/img/menu_items/4.jpg" alt="">
	                            </a>
	                        </figure>
	                    </div>
	                    <div class="col-sm-8">
	                    	<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
	                        <a href="shop-single.html">
	                            <h3>Baked Potato Skins</h3>
	                        </a>
	                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
	                        <div class="price_box">
	                            <span class="new_price">$48.00</span>
	                            <span class="old_price">$60.00</span>
	                        </div>
	                        <ul>
	                            <li><a href="#0" class="btn_1">Add to cart</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <!-- /row_item -->
	                <div class="row row_item" data-cue="slideInUp">
	                    <div class="col-sm-4">
	                        <figure>
	                            <span class="ribbon off">-30%</span>
	                            <a href="shop-single.html">
	                                <img class="img-fluid lazy" src="/site/img/menu_items/menu_items_placeholder.png" data-src="/site/img/menu_items/5.jpg" alt="">
	                            </a>
	                        </figure>
	                    </div>
	                    <div class="col-sm-8">
	                    	<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
	                        <a href="shop-single.html">
	                            <h3>Prime Rib</h3>
	                        </a>
	                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
	                        <div class="price_box">
	                            <span class="new_price">$48.00</span>
	                            <span class="old_price">$60.00</span>
	                        </div>
	                        <ul>
	                            <li><a href="#0" class="btn_1">Add to cart</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <!-- /row_item -->
	                <div class="row row_item" data-cue="slideInUp">
	                    <div class="col-sm-4">
	                        <figure>
	                            <span class="ribbon off">-30%</span>
	                            <a href="shop-single.html">
	                                <img class="img-fluid lazy" src="/site/img/menu_items/menu_items_placeholder.png" data-src="/site/img/menu_items/6.jpg" alt="">
	                            </a>
	                        </figure>
	                    </div>
	                    <div class="col-sm-8">
	                    	<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
	                        <a href="shop-single.html">
	                            <h3>Chicken with Garlic</h3>
	                        </a>
	                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
	                        <div class="price_box">
	                            <span class="new_price">$48.00</span>
	                            <span class="old_price">$60.00</span>
	                        </div>
	                        <ul>
	                            <li><a href="#0" class="btn_1">Add to cart</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <!-- /row_item -->
	                <div class="row row_item" data-cue="slideInUp">
	                    <div class="col-sm-4">
	                        <figure>
	                            <span class="ribbon off">-30%</span>
	                            <a href="shop-single.html">
	                                <img class="img-fluid lazy" src="/site/img/menu_items/menu_items_placeholder.png" data-src="/site/img/menu_items/7.jpg" alt="">
	                            </a>
	                        </figure>
	                    </div>
	                    <div class="col-sm-8">
	                    	<div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i></div>
	                        <a href="shop-single.html">
	                            <h3>Terrific Turkey Chili</h3>
	                        </a>
	                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident...</p>
	                        <div class="price_box">
	                            <span class="new_price">$48.00</span>
	                            <span class="old_price">$60.00</span>
	                        </div>
	                        <ul>
	                            <li><a href="#0" class="btn_1">Add to cart</a></li>
	                        </ul>
	                    </div>
	                </div>
	                <!-- /row_item -->
	               <div class="pagination_fg add_bottom_15" data-cue="slideInUp">
					    <a href="#">&laquo;</a>
					    <a href="#" class="active">1</a>
					    <a href="#">2</a>
					    <a href="#">3</a>
					    <a href="#">4</a>
					    <a href="#">5</a>
					    <a href="#">&raquo;</a>
					</div>	
	            </div>
	            <!-- /col -->
	        </div>
	        <!-- /row -->			
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->

	<%- include('templates/_footer') %>


	<div id="toTop"></div><!-- Back to top button -->
		
	<%- include('templates/_script') %>


</body>
</html>