<%- include('templates/_header') %>

    <%- include('templates/_navbar') %>

    <main>

		

	    

		<div class="bg_gray">
		    <div class="container margin_120_100">
		        <div class="row flex-lg-row-reverse"> 
                    <div class="col-lg-5 offset-lg-1 align-self-center mb-4 mb-md-0">
                        <div class="intro_txt" data-cue="slideInUp" data-delay="500">

                        </div>
                    </div>
                     <div class="col-lg-6">
                       
                    </div>
                </div>
		    </div>
		    <!--/container -->
		</div>
		<!--/pattern_2 -->

		
		
	</main>

    <%- include('templates/_footer') %>

<%- include('templates/_script') %>