  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/admin">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/foods">
          <i class="bi bi-cup"></i><span>Foods</span>
        </a>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/categories">
          <i class="bi bi-list"></i><span>Categories</span>
        </a>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/customers">
          <i class="bi bi-people"></i><span>Customers</span>
        </a>
      </li><!-- End Components Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/orders">
          <i class="bi bi-basket3"></i><span>Orders</span>
        </a>
      </li><!-- End Components Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/payment-methods">
          <i class="bi bi-credit-card"></i><span>Payment Method</span>
        </a>
      </li><!-- End Components Nav -->
      


    
    </ul>

  </aside><!-- End Sidebar-->