<header class="header clearfix element_to_stick">
    <div class="layer"></div><!-- Opacity Mask Menu Mobile -->
    <div class="container-fluid">
    <div id="logo">
        <a href="/">
            <img src="/site/img/logo.svg" width="140" height="35" alt="" class="logo_normal">
            <img src="/site/img/logo_sticky.svg" width="140" height="35" alt="" class="logo_sticky">
        </a>
    </div>
    <ul id="top_menu">
        <li><a href="#0" class="search-overlay-menu-btn"></a></li>
        <li>
            <div class="dropdown dropdown-cart">
                <a href="shop-cart.html" class="cart_bt"><strong>2</strong></a>
                <div class="dropdown-menu">
                    <ul>
                        <li>
                            <figure><img src="/site/img/item_placeholder_square_small.jpg" data-src="/site/img/item_square_small_1.jpg" alt="" width="50" height="50" class="lazy"></figure>
                            <strong><span>1x Pizza Napoli</span>$12.00</strong>
                            <a href="#0" class="action"><i class="icon_trash_alt"></i></a>
                        </li>
                         <li>
                            <figure><img src="/site/img/item_placeholder_square_small.jpg" data-src="/site/img/item_square_small_2.jpg" alt="" width="50" height="50" class="lazy"></figure>
                            <strong><span>1x Hamburgher Maxi</span>$10.00</strong>
                            <a href="#0" class="action"><i class="icon_trash_alt"></i></a>
                        </li>
                         <li>
                            <figure><img src="/site/img/item_placeholder_square_small.jpg" data-src="/site/img/item_square_small_3.jpg" alt="" width="50" height="50" class="lazy"></figure>
                            <strong><span>1x Red Wine Bottle</span>$20.00</strong>
                            <a href="#0" class="action"><i class="icon_trash_alt"></i></a>
                        </li>
                    </ul>
                    <div class="total_drop">
                        <div class="clearfix add_bottom_15"><strong>Total</strong><span>$32.00</span></div>
                        <a href="shop-cart.html" class="btn_1 outline">View Cart</a><a href="shop-checkout.html" class="btn_1">Checkout</a>
                    </div>
                </div>
            </div>
            <!-- /dropdown-cart-->
        </li>
    </ul>
    <!-- /top_menu -->
    <a href="#0" class="open_close">
        <i class="icon_menu"></i><span>Menu</span>
    </a>
    <nav class="main-menu">
        <div id="header_menu">
            <a href="#0" class="open_close">
                <i class="icon_close"></i><span>Menu</span>
            </a>
            <a href="/"><img src="/site/img/logo.svg" width="140" height="35" alt=""></a>
        </div>
        <ul>
            <li class="submenu">
                <a href="/" class="show-submenu">Home</a>
            </li>
            <li id="submenu">
                <a href="/about">About</a>
            </li>
             <li class="submenu">
                <a href="/menu" class="show-submenu">Menu</a>
            </li>
        </ul>
    </nav>
</div>
<!-- Search -->
<div class="search-overlay-menu">
    <span class="search-overlay-close"><span class="closebt"><i class="icon_close"></i></span></span>
    <form role="search" id="searchform" method="get">
        <input value="" name="q" type="search" placeholder="Search..." />
        <button type="submit"><i class="icon_search"></i></button>
    </form>
</div><!-- End Search -->
</header>
<!-- /header -->